.about-producto_info{
    width:100%;
}

.about-producto_info .producto_info_content {
    width:100%;
}

.about-page-top{
    font-weight:bold;
    padding-bottom:50px;
    text-transform:uppercase;
}