@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

header{
    margin-bottom:0px!important;
}

.banner-top-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#intro{
    margin: auto;
    width: 90%;
    display: block;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.intro__img{
    width:35%;
    float:left;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -3%;
}

.intro__img img{
    border-radius: 12px;
    width: 130%;
    object-fit: cover;
    margin-top: -35%;
    margin-left: -40%;
}

.intro__info{
    width:65%;
    float:left;
    padding-top: 3%;
}

.info__title{
    opacity: 0.99;
    border-radius: 12px;
    text-align:left;
    padding-top: 4px;
    color:black;
    margin: 40px auto;
    padding-left:5%;
}

.info__title p{
    font-family: 'Bree Serif', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
}

.title__info{
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 24px !important;
}

.txt-top-home span {
    font-size: 24px!important;
}

.info__body{
    width: 85%;
    text-align: justify;
    padding-left: 5%;
}

.info__body p{
    margin-bottom:40px;
    font-family: 'Bree Serif', serif;
    font-style: normal;
    font-weight: normal;
    position: relative;
}
.negrita{
    font-size: 17px;
    font-weight: bold;
}



#com_izq{
    position: relative;
    left: -25px;
    top: -10px;
}

#com_der{
    position: relative;
    float: right;
    right: -35px;
    top: -10px;
}

.productos__conteiner{
    width: 85%;
    margin: auto;
    margin-top: 50px;
}
.productos__content{
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
}
.producto__img{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.producto__img img{
    height:auto;
    width:100%;
    object-fit: cover;
    border-radius:15px ;
}
.producto__img img:hover{
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.producto_info{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* padding-right: 30px; */
}

.producto_info_content{
    width:466px;
}

.producto__info__title{
    font-size: 36px;
    color: #282828;
    font-family: 'Bree Serif', serif;
    font-style: normal;
    font-weight: 700;
    padding-bottom:20px;
}

.producto__info__body{
    font-size: 18px;
    font-family: 'Bree Serif', serif;
    font-style: normal;
    font-weight: 400;
}
.producto_info_content span{
    font-size: 18px;
    font-family: 'Bree Serif', serif;
    font-style: normal;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    
}
.producto_info_content button, .producto__img button{
    border: none;
    background: #399C3F;
    color: #FFFFFF;
    border-radius: 8px;
    width: 200px;
    height: 48px;
    font-family: "Bree Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    cursor: pointer;
    margin-top:30px;
    margin-left: 10px;
}
.white{
    background: white !important;
    color: #399C3F !important;
}
.reverse{
    justify-content: center !important;
}

.producto_info_content button:hover{
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing
}


.productoshome_info,.producto_home_img{
    width:50%;
    float:left;
}

.productoshome__info__logo {
    text-align: center;
}

.productoshome__info__logo img{
    width:140px;
}

.productoshome__info__body{
    font-family: "Bree Serif";
    font-size: 20px;
}

.producto_home_img img {
    width: 90%;
}

.productoshome__info__logo.logo_prodpage{
    text-align:left!important;
}