.producto__detalle-img{
    display: block;
}

.producto__img{
    text-align:center;
}

.producto__img img {
    height: auto;
    width: 70%;
}

#featured{
    margin-right: 10%;
    margin-left:10%;
    margin-bottom:5px;
}

.producto__comprar{
    text-align:center;
    width:100%;
    padding-top: 20px;
}

.producto__precio{
    font-size:30px;
    font-weight:bold;
    font-family: 'Bree Serif', serif;
}

.productos__content{
    align-items:flex-start;
}

.producto__detalle__title{
    font-size:30px;
    font-family: 'Bree Serif', serif;
    padding-bottom:20px;
}

.producto__detalle__body{
    padding:12px 0px;
    font-family: 'Bree Serif', serif;
}

.producto_info_content ul li{
    padding:12px 0px;
    margin-left:20px;
    font-family: 'Bree Serif', serif;

}

.thumb-container{
    margin-left:14%;
    height: 100px;
}

.thumbnail{
	object-fit: cover;
	max-width: 100px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.7;
    margin: 5px;
    float:left;
}

.thumbnail.active{
    opacity:1;
    border:3px solid #399C3F;
}

@media only screen and (max-width: 600px) {
    .producto_info {
        width: 100%!important;
    }

    .producto__detalle-img{
        width:100%!important;
    }

    #featured {
        margin-right: 0%;
        margin-left: 0%;
        padding-top: 25px;
    }

}