@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 250px;
}

html::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

a{
    text-decoration: none;
    color: #000000; 
}

.font{
    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    line-height:25px;
}

header{
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0px 58px 0px 28px ;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
}
#header__title{
    display: flex;
    align-items: center;
    justify-content: center;
}
#header__title h1{
    color:#399C3F ;
    font-size: 30px;
}

#header__title img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#header__line{
    margin: auto;
    background-color:#000000 ;
    height: 3px;
    width: 60px;
    position: absolute;
    top: 70%;
    left: 19%;
    border-radius:10px;
    
}
#header__nav{
    height: 100%;
}
#header__nav  li{
    position: relative;
    display: inline-block;
    height: 100%;
    padding: 0px 10px 0px 10px;
}
#header__nav li:hover ul{
    display: flex;
}

#header__nav  ul{
    position: absolute;
    z-index: 3;
    top: 85%;
    left: -90%;
    width: 221px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 3px solid #000000;
    background-color: #FFFFFF;
    display: none;
}

#header__nav ul li{
    height: 18px !important;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header__nav a img{
    padding-left: 5px;
}

#header__nav li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;  
    display: flex;
    align-items: center;
    line-height: 100px;
}

#header__nav li a:hover{
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(1.09);
}

#header__nav li ul a{
    line-height: 0px !important;
}

footer{
    padding: 10px 0px ;
    position: absolute;
    bottom: 0;
    height: 240px;
    width: 100%;
}
.footer__conteriner{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.fotter__card{
    width:auto;
}
.footer__title{
    display: flex;
    align-items: center;
    height: 55px;
    font-size: 13px;
}
.footer__title_principla{
    color: #399C3F;
    font-size: 15px;
}
.footer__title img{
    margin-right: 0px;
    height: 65px;
    width: auto;
    object-fit: cover;
}

.footer__body{
    flex-wrap: wrap;
    width: 180px;

}
.footer__body p , .footer__body a{
    margin-bottom: 10px;
    font-size: 16px;

}
.footer__body i{
    margin-right: 8px;
}
.extra{
    padding-left: 45px;
}

.center{
    text-align:center;
}